MONGO_URL=mongodb://localhost:27017/busytrip
# Change this for prod
JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----MIICXAIBAAKBgQDd1EFEy3vQBLGweJbN7aj/vlz8iNLmgBLsg9YUICtrk68QIyLY6I3Qbn8PUuOiOdzfV5YIeLqBrwAjg8o8E6buGRDssOpgkSpOG7sLJsxUKfEy/9MtoFCpFAuOZyRLBo0+ohYyiDNvphEbJWxE93VF8TCz/jZ9CidQahsGf1JebwIDAQABAoGAUB8U//sbGjRH1byIg5KeotioD1KAEl8Z9rFbhmNkK3PpHEQElyHP7wOqAufmbjbGDyk8eIzamHKT8z/rsK1McjELQqxcCBQbmnjFVSX3qiawspO/iv3IdKiAwZ8wIYhwe3myZuFS7xXWusBnbhTvlqiq/ftaHQiDSPimxeHkgTkCQQD0KeUk08Wc+SRP+CX17b8sSCoh2nCAqc630m9NJ+R5++gpLayEhMwq0fFgYNzq8aHZWHO0wUC1lXfPaj4JiY9jAkEA6JUvakXywjsFLC2uxFf/9Ri05SxOn8KvkOiwh8VYRy3UoyGOHiMyiGkWEwSnFclC0ir/94XoebnxTmTgzt+ghQJALRwAZclqXRH6j3u9J66A/2Flx1NgLaUxt+x8+7g/EfpkbhcuJF2UiuS2v6OlrRJvYIRi/CYoGmQ++mcahxCPGQJBAKfIp7H00BHKXgrm0cMW8LExp54D/pxF6D2Tf3YSqYJ/z3v3gvy+y3+Yv7Hsk1SmIixXlNxNn83gk/HH2F2k+bkCQBuHzdm82LEl4ItOf8XbwXqHQTRaUNBF/p5BzZxbu8sPe/oL2TzmjM35DaHhgTkCZVlLOBoLUOsR88U4EuMijVU=-----END RSA PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDd1EFEy3vQBLGweJbN7aj/vlz8iNLmgBLsg9YUICtrk68QIyLY6I3Qbn8PUuOiOdzfV5YIeLqBrwAjg8o8E6buGRDssOpgkSpOG7sLJsxUKfEy/9MtoFCpFAuOZyRLBo0+ohYyiDNvphEbJWxE93VF8TCz/jZ9CidQahsGf1JebwIDAQAB-----END PUBLIC KEY-----"